.App {
  text-align: center;
  height: auto;
}

.header{
  height: 20vh;

}

.logo{
  height: 100%;
  width: 25%;
}
.container{
  height: 80%;
}
.box{
  display:inline-block;
  margin: 10px 20px;
  width: 350px;
  height: 200px;
  background-color: burlywood;

}
.box:hover{
  animation: expand 0.1s linear 0s 1 forwards;
}

@keyframes expand{
  from {transform: scale(1)}
  to {transform :scale(1.05) }
}

.img{
  height: 100%;
  width : 45%;
  display: inline-block;
  background-color: black;
}
.desc-box{
  width: 55%;
  height: 100%;
  display: inline-block;
  background-color:  cornsilk;
  overflow: hidden;
}
.thumbnail{
  height: 100%;
  width: 100%;
}
.desc-header{
  height: 30%;
  width : 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:thistle;
  font-size: x-large;
  font-weight: 700;

}
.info-box{
  height: 70%;
  width: 100%;
  background-color: blueviolet;
}